@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importação das fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@400;600;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}
